html {
    font-size: 22px;
}
@media all and (max-width: 380px) {
    html {
        font-size: 18px;
    }
}

body {
    background-color: #f5f5f5;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: -0.3px;
    font-size: 1rem;
    font-weight: 300;
    color: hsl(0, 0%, 10%);

    /* Variables */
    --primary-colour: hsl(211.2, 80%, 50%);
}

/* Responsive sizing */
main, header, footer {
    width: 100%;
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
main, footer {
    max-width: 1024px;
}
main, header, footer, section, div, li, article {
    box-sizing: border-box;
}

main {
    padding: 20px;
}

/* Header */
header {
    background-image: url('images/header_image.jpg');
    background-size: cover;
    background-position: 50.4% center;
    background-color: var(--primary-colour);
}
header section {
    max-width: 1024px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(13px);
}
header section h1 {
    font-weight: 300;
    font-size: 4rem;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: -1.5px;
}
header section h2 {
    font-size: 2rem;
    color: #fff;
    font-weight: 200;
    letter-spacing: -1.5px;
}
@media all and (max-width: 380px) {
    header section h1 {
        font-size: 3rem;
    }
    header section h2 {
        font-size: 1.6rem;
    }
}

/* Article and section */
main > article:not(:last-of-type) {
    /* Direct descendants only */
    margin-bottom: 4rem;
}
main article h1 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.8px;
}
main article h1 sub {
    font-size: 0.9rem;
    vertical-align: middle;
}
main article section {
    margin-bottom: 25px;
}
main article section p {
    padding: 10px 0;
    line-height: 1.3rem;
}
main article section a {
    color: var(--primary-colour);
    text-decoration: none;
}
main article section a:hover {
    text-decoration: underline;
}
main article section i {
    font-style: italic;
}
main article section ul.iconList {
    padding-bottom: 10px;
}
main article section ul.iconList li {
    width: 10%;
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    font-size: 0.8rem;
    vertical-align: top;
    min-width: 85px;
    margin-bottom: 25px;
}
main article section ul.iconList li::before {
    display: block;
    width: 60px;
    height: 60px;
    content: '';
    background-image: url('images/technology_sprites.png');
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto 10px auto;
}
/* Technology icon sprites */
main article section ul.iconList li#technology-angular::before {
    background-position: -5px -5px;
}

main article section ul.iconList li#technology-angularjs::before {
    background-position: -75px -5px;
}

main article section ul.iconList li#technology-aws::before {
    background-position: -215px -5px;
}

main article section ul.iconList li#technology-css3::before {
    background-position: -75px -75px;
}

main article section ul.iconList li#technology-docker::before {
    background-position: -215px -75px;
}

main article section ul.iconList li#technology-esxi::before {
    background-position: -285px -75px;
}

main article section ul.iconList li#technology-gcp::before {
    background-position: -5px -145px;
}

main article section ul.iconList li#technology-git::before {
    background-position: -75px -145px;
}

main article section ul.iconList li#technology-graphql::before {
    background-position: -285px -145px;
}

main article section ul.iconList li#technology-html5::before {
    background-position: -5px -215px;
}

main article section ul.iconList li#technology-javascript::before {
    background-position: -75px -215px;
}

main article section ul.iconList li#technology-jekyll::before {
    background-position: -145px -215px;
}

main article section ul.iconList li#technology-linux::before {
    background-position: -5px -285px;
}

main article section ul.iconList li#technology-mqtt::before {
    background-position: -145px -285px;
}

main article section ul.iconList li#technology-mysql::before {
    background-position: -215px -285px;
}

main article section ul.iconList li#technology-nodejs:before {
    background-position: -355px -5px;
}

main article section ul.iconList li#technology-php::before {
    background-position: -355px -75px;
}

main article section ul.iconList li#technology-redis::before {
    background-position: -355px -145px;
}

main article section ul.iconList li#technology-typescript::before {
    background-position: -75px -355px;
}

main article section ul.iconList li#technology-virtualbox::before {
    background-position: -145px -355px;
}

main article section ul.iconList li#technology-vue::before {
    background-position: -215px -355px;
}

main article section ul.iconList li#technology-jest::before {
    background-position: -215px -215px;
}

main article section ul.iconList li#technology-cypress::before {
    background-position: -145px -75px;
}

main article section ul.iconList li#technology-lit::before {
    background-position: -75px -285px;
}

main article section ul.iconList li#technology-tailwind::before {
    background-position: -5px -355px;
}

main article section ul.iconList li#technology-bulma::before {
    background-position: -5px -75px;
}

main article section ul.iconList li#technology-bootstrap::before {
    background-position: -285px -5px;
}

main article section ul.iconList li#technology-socket-io::before {
    background-position: -355px -215px;
}

main article section ul.iconList li#technology-github::before {
    background-position: -145px -145px;
}

main article section ul.iconList li#technology-gitlab::before {
    background-position: -215px -145px;
}

main article section ul.iconList li#technology-knex-js::before {
    background-position: -285px -215px;
}

main article section ul.iconList li#technology-apache::before {
    background-position: -145px -5px;
}

main article section ul.iconList li#technology-nginx::before {
    background-position: -285px -285px;
}

main article section ul.iconList li#technology-svn::before {
    background-position: -355px -285px;
}

main article.project {
    box-sizing: border-box;
    margin: 10px 0 60px 0;
    clear: both;
}
main article:last-of-type {
    padding-bottom: 0;
}
main article.project h1 {
    font-size: 1.2rem;
}
main article.project aside.image {
    float: left;
    width: 122px;
    height: 122px;
    margin: 0 0.9rem 0.4rem 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Contact form */
#contactForm {
    margin-top: 10px;
}
#contactForm label {
    display: block;
    font-family: inherit;
    font-size: 0.8rem;
}
#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    margin: 5px 0 15px 0;
    padding: 10px;
    font-size: 0.8rem;
    font-family: inherit;
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
}
#contactForm input[type="submit"] {
    padding: 10px;
    font-size: 0.8rem;
    font-family: inherit;
    background-color: #fff;
    border: 1px solid #bfbfbf;
}

/* Footer */
footer {
    font-size: 0.8rem;
    color: #aaa;
    padding-left: 3vh;
    padding-right: 3vh;
}
footer span:not(:last-of-type)::after {
    display: inline;
    content: '-';
    padding: 0 5px;
}
footer span a {
    color: inherit;
    text-decoration: none;
}
footer span a:hover {
    color: var(--primary-colour);
}