html {
    font-size: 22px;
}

body {
    background-color: #f5f5f5;
}

.needsReview * {
    color: #dcdcdc !important;
}

#container {
    width: 100%;
    max-width: 1024px;
    margin: 5vh auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;

    /* Variables */
    --primary-colour: #7d09f3;
}

/* Header */
#container header {
    padding-bottom: 50px;
}
#container header h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 4rem;
    color: var(--primary-colour);
    margin-bottom: 10px;
}
#container header h2 {
    font-size: 2rem;
}

/* Article and section */
#container article:not(:last-of-type) {
    margin-bottom: 100px;
}
#container article h1 {
    font-size: 1.5rem;
    font-weight: 400;
}
#container article section {
    margin-bottom: 25px;
}
#container article section p {
    padding: 10px 0;
}
#container article section ul.iconList {
    padding-bottom: 10px;
}
#container article section ul.iconList li {
    width: 10%;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    font-size: 0.8rem;
    vertical-align: top;
}
#container article section ul.iconList li::before {
    display: block;
    width: 60px;
    height: 60px;
    content: '';
    background-image: url(https://place-hold.it/60x60);
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto 10px auto;
}
#container article section ul.iconList li a {
    color: var(--primary-colour);
    text-decoration: none;
}

/* Contact form */
#contactForm {
    margin-top: 10px;
}
#contactForm label {
    display: block;
    font-family: inherit;
    font-size: 0.8rem;
}
#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    margin: 5px 0 15px 0;
    padding: 10px;
    font-size: 0.8rem;
    font-family: inherit;
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
}
#contactForm input[type="submit"] {
    padding: 10px;
    font-size: 0.8rem;
    font-family: inherit;
    background-color: #fff;
    border: 1px solid #bfbfbf;
}