html {
    font-size: 22px;
}
@media all and (max-width: 380px) {
    html {
        font-size: 18px;
    }
}

body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;

    /* Variables */
    --primary-colour: #bd5300;
}

.needsReview * {
    color: #dcdcdc !important;
}

/* Responsive sizing */
main, header, footer {
    width: 100%;
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
main, footer {
    max-width: 1024px;
}
main, header, footer, section, div, li, article {
    box-sizing: border-box;
}

main {
    padding: 20px;
}

/* Header */
header {
    background-image: url('/header_image.jpg');
    background-size: cover;
    background-position: 50.4% center;
    background-color: #fcbe20;
}
header section {
    max-width: 1024px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
}
header section h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 4rem;
    color: #fff;
    margin-bottom: 10px;
}
header section h2 {
    font-size: 2rem;
    color: #fff;
}
@media all and (max-width: 380px) {
    header section h1 {
        font-size: 3rem;
    }
    header section h2 {
        font-size: 1.6rem;
    }
}

/* Article and section */
main > article:not(:last-of-type) {
    /* Direct descendants only */
    margin-bottom: 100px;
}
main article h1 {
    font-size: 1.5rem;
    font-weight: 400;
}
main article section {
    margin-bottom: 25px;
}
main article section p {
    padding: 10px 0;
    line-height: 1.2rem;
}
main article section a {
    color: var(--primary-colour);
    text-decoration: none;
}
main article section a:hover {
    text-decoration: underline;
}
main article section i {
    font-style: italic;
}
main article section ul.iconList {
    padding-bottom: 10px;
}
main article section ul.iconList li {
    width: 10%;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    font-size: 0.8rem;
    vertical-align: top;
    min-width: 85px;
}
main article section ul.iconList li::before {
    display: block;
    width: 60px;
    height: 60px;
    content: '';
    background-image: url(https://place-hold.it/60x60);
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto 10px auto;
}
main article.project {
    box-sizing: border-box;
    padding: 10px 0 30px 0;
    clear: both;
}
main article:last-of-type {
    padding-bottom: 0;
}
main article.project h1 {
    font-size: 1.2rem;
}
main article.project aside.image {
    float: left;
    width: 120px;
    height: 120px;
    padding: 0 10px 10px 0;
}

/* Contact form */
#contactForm {
    margin-top: 10px;
}
#contactForm label {
    display: block;
    font-family: inherit;
    font-size: 0.8rem;
}
#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    margin: 5px 0 15px 0;
    padding: 10px;
    font-size: 0.8rem;
    font-family: inherit;
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
}
#contactForm input[type="submit"] {
    padding: 10px;
    font-size: 0.8rem;
    font-family: inherit;
    background-color: #fff;
    border: 1px solid #bfbfbf;
}

/* Footer */
footer {
    font-size: 0.8rem;
    color: #aaa;
}
footer span::after {
    display: inline;
    content: '-';
    padding: 0 5px;
}
footer span a {
    color: inherit;
}
footer span a:hover {
    color: var(--primary-colour);
}